#launch-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  height: 100vh;
  div {
    border: solid black 1px;
  }
  #main-header {
    filter: drop-shadow(2px 2px 2px grey);
  }

  #sub-heading {
    z-index: 99;
    filter: drop-shadow(2px 2px 2px grey);
  }
}
