#launch-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  height: 100vh;


  #title-container {
    margin:auto;
  }
  #main-header {
    filter: drop-shadow(2px 2px 2px grey);
  }

  #sub-heading {
    z-index: 99;
    filter: drop-shadow(2px 2px 2px grey);
  }
}
