@import './shared.scss';

.filter {
  background-color: white;
  opacity: .9;
  border-radius: $component-radius;
  border: none;
  @include shadow;
}

#place-filters {
  div {
    margin-top: 2%;
  }
}